<%- include('../partials/header', { title: title }) %>
<div class="no-print">
<%- include('../partials/ds-page-header', {
  dsTitle: 'Электронный талон',
  dsSubtitle: 'Предъявите на регистратуре или распечатайте',
  dsIcon: 'bi-ticket-perforated',
  dsBackHref: '/profile/appointments',
  dsBackLabel: 'К моим записям'
}) %>
</div>

<%- include('_ticket_card', { ticket, showActionFooter: true }) %>

<script src="/js/ticket-print.js"></script>
<%- include('../partials/footer') %>
